.recentprojectSection {
    background: #24272D;
}

.recentprojectSection .topheading h1 {
    color: #009FE3;
    letter-spacing: 1px;
    font-weight: bolder;
    font-size: 30px;
}

.recentprojectSection .topheading hr {
    margin: unset;
    margin-top: 2px;
    border-bottom: 3px solid #fff;
    width: 348px;
}

.recentprojectSection .cardwapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.recentprojectSection .customCard {
    width: calc(33% - 9px);
    text-align: center;
    height: 250px;
    border-radius: 10px;
    margin: 6px 6px;
    overflow: hidden;
    background: transparent;
}

.recentprojectSection .customCard img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}

.recentprojectSection .customCard:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
}

@media (max-width: 991px) {
    .recentprojectSection .customCard {
        width: calc(32% - 2px);
    }
}

@media (max-width: 767px) {
    .recentprojectSection .customCard {
        width: calc(49% - 9px);
    }
    .recentprojectSection {
        overflow: hidden;
        overflow-y: hidden;
        overflow-x: hidden;
    }
}

@media (max-width: 565px) {
    .recentprojectSection .customCard {
        height: 164px;
    }
    .recentprojectSection .topheading h1 {
        font-size: 25px;
    }
}