<div class="container-fluid  whatweOfferSection p-0">
    <div class="container">
        <div class="d-flex cardWapper" id="cardsection">
            <div class="card customCard ">
                <div class="card-body ">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <h2 class="py-2 mb-0">Design</h2>
                </div>
            </div>
            <div class="card customCard">
                <div class="card-body ">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <h2 class="py-2 mb-0">CONVERSION</h2>
                </div>
            </div>
            <div class="card customCard">
                <div class="card-body ">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <h2 class="py-2 mb-0">REFURBISHMENT</h2>
                </div>
            </div>
            <div class="card customCard">
                <div class="card-body ">
                    <i class="fa fa-building" aria-hidden="true"></i>
                    <h2 class="py-2 mb-0">DEVELOPMENT</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container datashow d-flex pb-5" id="aboutUS">
        <div class="w-50 leftside py-2 px-4">
            <h3 class="mb-0 pb-2">About us</h3>
            <p class="text-white">
                <b>Your dream, Our work</b> <br> We build, refurbish and extend buildings from our networks and happy customers across UK. Our strong regional presence allows us to foster trusting and beneficial working partnerships with our customers,
                consultants, supply chain and local communities. Our service is professional, caring, and high quality and <i style="color: #009fe3 !important">Customers are our First Priority</i> We aspire to do justice to our work. We believe that honest
                efforts bring fruitful results.Our Strength lies in our perseverance and inter- personal skills that contribute in all possible ways to achieve the goal. Our team work professionally and we believe in time management .we offer what we
                said and do our wok in time and you won’t regret after our service. We understand your hard earn money is really matter to you and we provide you proper satisfaction and you definitely get everything under one roof We aim to provide you
                with complete hassle free building services: loft conversions, home extensions, general property refurbishment, bathroom installation, kitchen remodelling or just some partial property refurbishment projects.

            </p>
            <p class="text-white">
                CEO: Jangsher Singh
            </p>
        </div>
        <div class="imagediv w-50"></div>


    </div>
    <hr class="customHr my-5">
    <div class="container datashow d-flex  align-items-center pb-0" id="aboutUS">
        <div class="imagediv w-50"></div>
        <div class="w-50 leftside py-2 px-4">
            <h3 class="mb-0 pb-2">Our story</h3>
            <p class="text-white">
                Prab Builders is one of the leading and fast growing constructions companies in the UK who take projects and work in a atmosphere where one can get everything under one roof. We have a team of experience people who have 18 years of hand on experience
                on filed work and we understand what our clients want. And as result we give total satisfactions to our customers. We understand how to help our customers and convert ideas into reality to give our best We are in this field from the past
                18 years and have enthusiast team to work professionally Our service is professional, caring, and high quality and <span style="color: #009fe3 !important"><i>Customers are our First Priority</i></span>

            </p>

        </div>



    </div>
    <hr class="customHr my-5">
    <div class=" container visionValues py-lg-2">
        <div class="row align-items-stretch" style="overflow: hidden !important;">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 myanimation" data-aos="fade-up" data-aos-duration="1000" style="overflow-x: hidden !important;">

                <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                        <div class="imageDiv">

                            <i class="fa fa-binoculars" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div>
                        <h3>VISION</h3>
                        <p>To build a progressive and creative organisation that constantly strives to improve its business & construction practices and win clients’ trust by exceeding their expectations.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 myanimation" data-aos="fade-up" data-aos-duration="1000" style="overflow-x: hidden !important;">

                <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                        <div class="imageDiv">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div>
                        <h3>MISSION</h3>
                        <p>To be pioneers in the field of construction by application of innovative solutions and knowledge to work. To execute every project with stringent adherence to quality, timely delivery and safety while keeping society’s best interest
                            in mind</p>
                    </div>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4 myanimation" data-aos="fade-up" data-aos-duration="1000" style="overflow-x: hidden !important;">

                <div class="unit-4 d-block">
                    <div class="unit-4-icon mb-3">
                        <div class="imageDiv">
                            <i class="fa fa-handshake-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div>
                        <h3>Values</h3>
                        <ul class="valuesList">
                            <li><b>Stability</b> :- <span>Stability and efficient functioning by working a unified & systematic approach</span> </li>
                            <li><b>Integrity</b> :- <span>Being honest and inspiring trust, loyal to our values in becoming a role model for other to follow</span> </li>
                            <li><b>Quality</b> :- <span>Be response, dedicated & consistent delivering value to client.</span> </li>
                        </ul>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="container-fluid productCounts p-0">
        <div class="container py-5">
            <div class="d-flex cardWapper bottomcardwapper">
                <div class="card customCard ">
                    <div class="card-body ">
                        <div class=" d-flex mobileviewBox">
                            <i class="fa fa-cogs" aria-hidden="true"></i>
                            <div class="d-block pl-3 text-left mobiletext">
                                <span>50+</span>
                                <p>Innovative Project <b>Management</b> </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card customCard">
                    <div class="card-body ">
                        <div class=" d-flex mobileviewBox">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <div class="d-block pl-3 text-left mobiletext">
                                <span>120+</span>
                                <p>Extraordinary <b>Talented Employees</b> </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card customCard">
                    <div class="card-body ">
                        <div class=" d-flex mobileviewBox">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <div class="d-block pl-3 text-left mobiletext">
                                <span>12+</span>

                                <p>Branch Office <b>Headquarters</b> </p>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>