.whatweOfferSection {
    background: #24272D;
}

.cardWapper {
    /* position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none !important; */
    position: relative;
    top: -85px;
}

.cardWapper .customCard {
    width: calc(32% - 10px);
    text-align: center;
    background-color: #1A1A1A;
    border-radius: unset;
    border-right: 2px solid #ffffff;
}

.cardWapper .customCard:last-child {
    border-right: unset;
}

.cardWapper .customCard i {
    font-size: 120px;
    color: #ffffff;
}

.cardWapper .customCard h2 {
    color: #009FE3;
    text-transform: uppercase;
}

.whatweOfferSection .datashow {}

.whatweOfferSection .datashow .leftside h3 {
    color: #009FE3;
    font-weight: 600;
    font-size: 20px;
}

.whatweOfferSection .datashow .leftside h1 {
    color: #FFFFFF;
    font-size: 45px;
    font-weight: 700;
}

.whatweOfferSection .datashow .leftside p {
    line-height: 25px;
}

.whatweOfferSection .datashow .imagediv {
    height: 370px;
    background: url('../../../assets/imgs/career_img.jpg');
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.whatweOfferSection .productCounts {
    background: url('../../../assets/imgs/bg-speak.jpg');
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.whatweOfferSection .productCounts .bottomcardwapper {
    position: unset;
    top: 0;
    left: 0;
    transform: none;
    background: transparent;
}

.whatweOfferSection .productCounts .bottomcardwapper .customCard {
    background: transparent;
    border: unset;
    width: calc(35% - 10px);
}

.whatweOfferSection .productCounts .bottomcardwapper .customCard i {
    font-size: 42px;
}

.whatweOfferSection .productCounts .bottomcardwapper .customCard span {
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
}

.whatweOfferSection .productCounts .bottomcardwapper .customCard p {
    color: #ffffff;
    font-size: 24px;
    font-weight: 300;
    line-height: 1em;
}

@media (max-width: 991px) {
    .cardWapper .customCard i {
        font-size: 84px;
    }
    .cardWapper .customCard h2 {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 !important;
    }
    .cardWapper {
        top: 0;
        display: flex !important;
        flex-flow: column;
    }
    .cardWapper .customCard {
        width: 100%;
        text-align: center;
        background-color: #1A1A1A;
        border-radius: unset;
        border-bottom: 2px solid #ffffff;
        border-right: unset;
    }
    .cardWapper .customCard i {
        font-size: 115px;
        padding: 16px;
    }
    .cardWapper .customCard h2 {
        font-size: 30px;
        padding: -11px 10px !important;
    }
    .whatweOfferSection .datashow {
        display: none !important;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard {
        width: 100%;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard .mobileviewBox {
        flex-flow: column;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard .mobileviewBox .mobiletext {
        text-align: center !important;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard .mobileviewBox .mobiletext span {
        padding: 10px 10px;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard p {
        padding: 17px 13px;
    }
}

@media (max-width: 565px) {
    .cardWapper .customCard i {
        font-size: 78px;
        padding: 16px;
    }
    .cardWapper .customCard h2 {
        font-size: 20px;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard p {
        font-size: 18px;
        line-height: 27px;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard i {
        font-size: 36px;
    }
    .whatweOfferSection .productCounts .bottomcardwapper .customCard span {
        font-size: 36px;
    }
}