.testimonialbackground {
    background: #000000;
    padding: unset;
    height: 100%;
    background: url('../../../assets/imgs/testimonialbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    position: relative;
    z-index: 0;
}

.testimonialbackground::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    background: #000000db;
    z-index: -1;
    padding: 30px;
}

.testimonialbackground .testDiv .myblock {
    padding: 20px;
    padding-left: 70px;
}

.testimonialbackground .topheading {
    text-align: center;
    color: #009fe3;
    font-size: 30px;
    font-weight: bolder;
}

.testimonialbackground .bottomLine {
    height: 4px;
    width: 170px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 2px;
}

.testimonialbackground .picsum-img-wrapper {
    height: 400px;
    max-height: 100%;
    position: relative;
    width: 100%;
    text-align: center;
}

.testimonialbackground .testimonials {
    background: transparent;
    color: #ffffff;
    text-align: center;
    padding: 30px;
    width: 100%;
    margin: 17px;
}

.testimonialbackground .testimonials .imageDiv {
    width: 100px;
    height: 100px;
    background: #009fe3;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.testimonialbackground .testimonials .imageDiv span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
}

.testimonialbackground .testimonials p {
    color: #ffffff;
    line-height: 20px;
    font-size: 16px;
}

@media (max-width: 767px) {}

@media (max-width: 565px) {
    .testimonialbackground .picsum-img-wrapper .testimonials {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        max-height: 413px;
        min-height: 355px;
        background: #009fe3;
        transform: translate(-50%, -50%);
        padding: 30px 30px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
    }
    .testimonialbackground .picsum-img-wrapper .testimonials p {
        color: #ffffff;
        line-height: 17px;
        font-size: 12px;
    }
}