<div class="container-fluid testimonialbackground">
    <div class="container">
        <div class="d-block">
            <h1 class="topheading mb-0">Testimonials</h1>
            <div class="bottomLine"></div>
        </div>
        <ngb-carousel *ngIf="images">
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper ">
                    <div class="testimonials">
                        <p>We are very pleased with the team’s performance and with the quality of the end product. We had our house fully refurbished and didn’t think twice about asking anyone else but Bobby. The team completed the job in a superb amount
                            of time considering how last minute we were in making our decision. They were able to find alternatives for any risen issues and smoothly dealt with any obstacles they faced. The team’s communication and responsiveness with
                            us was beyond excellent and we would highly recommend them for future projects.</p>
                        <div class="text-field">
                            <h3 class="mb-0">- Amarjeet Singh Sandhu -</h3>
                            <p class="mb-0">CUSTOMER</p>
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper ">
                    <div class="testimonials">
                        <p>Prab Builders is a pro-active and efficient organisation. When you need some work done, you need a construction company that is committed to doing the work with passion, professionalism and hard work. There was great project management
                            by Bobby with swift and clear cost information. The whole team worked extremely hard to get the work done given that they only had a short period of time to complete the project in. Also the team assistant kept on top of the
                            paperwork for us and was continuously updating us with relevant information regarding the progress of the project. I would for sure recommend Prab Builders.</p>
                        <div class="text-field">
                            <h3 class="mb-0">- Zoe Robertson -</h3>
                            <p class="mb-0">CUSTOMER</p>
                        </div>
                    </div>
                </div>

            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper ">
                    <div class="testimonials">
                        <p>I would like to thank Prab Builders for the amazing new loft extension they have completed for us. The team is professionally built and delivered to the specifications as we required. Prab Builders are always able to offer advice
                            or solutions for the work including extra works and finishing’s to assist in the final completion. We love the work you have done and know that it was built by the very best!</p>
                        <div class="text-field">
                            <h3 class="mb-0">- Olivia Nowak -</h3>
                            <p class="mb-0">CUSTOMER</p>
                        </div>
                    </div>
                </div>

            </ng-template>
        </ngb-carousel>
    </div>
</div>