<div class="toolbar  py-0 px-lg-5 ">
    <div class="container-fluid d-flex px-lg-5 mx-lg-1">
        <div class="w-75 d-flex">
            <!-- <div class="d-flex align-items-center showtext">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <p class="text-white mb-0 pl-2">5 Broadway Buildings, Boston road,Hanwell, London,W7 3TT</p>
            </div> -->
            <div class="d-flex align-items-center showtext pl-3">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p class="text-white mb-0 pl-2">prabbuilders@gmail.com</p>
            </div>
            <div class="d-flex align-items-center showtext pl-3">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p class="text-white mb-0 pl-2">07459041614</p>
            </div>
        </div>
        <div class="w-25">
            <ul class="d-flex socialIcon align-items-center mb-0  justify-content-end">
                <li>
                    <a>
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>