<header>
    <div class="container customerContainer">
        <div class="banner-content d-flex">
            <div class="imagediv"></div>
            <div class="d-block">
                <div class="d-block firstHeading ">
                    <h5 class="px-lg-5 py-lg-5">One of the Leading Companies in UK</h5>
                </div>
                <div class="d-block secondHeading">
                    <h2>Prab Builders</h2>
                </div>
                <div class="mobileviewtext">
                    <p class="text-white">
                        Prab Builders, one of leading construction companies in the UK who take pride and integrity in the that work we do. Through careful project planning, our team full of creatives communicate throughout the project to ensure that we all understand what our
                        clients want. And as a result, we present to our customer’s excellence. Whether you’re a homeowner or a property investor, we understand how to help you achieve your vision and bring it to life.
                    </p>
                    <p class="text-white">
                        CEO: Bobby Dhunay
                    </p>
                </div>
            </div>

        </div>
    </div>
</header>