header {
    align-items: center;
    display: flex;
    font-size: 18px;
    min-height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    text-align: center;
    flex-flow: row wrap;
    background-image: url('../../../assets/imgs/main_background.jpeg');
    background-size: cover;
    z-index: 0;
    text-align: left;
    justify-content: flex-start;
}

header .banner-content {
    margin: 0;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.88);
    z-index: 1;
}

header .customerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


/* top Content */

.banner-content {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    color: #fff;
}

.banner-content .imagediv {
    background: url('../../../assets/imgs/ourServices.webp');
    height: 425px;
    width: 50%;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    z-index: 0;
    position: relative;
}

.banner-content .imagediv::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: " ";
    background: #0000006b;
    z-index: -1;
}

.banner-content .firstHeading h5 {
    color: #009FE3;
    font-family: "Proza Libre", Sans-serif;
    font-size: 1rem;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 1px;
}

.banner-content .secondHeading {
    margin: 0px 0px 0px -100px;
    padding: 1em 1em 1em 1em;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    z-index: 3;
}

.banner-content .secondHeading h2 {
    color: #009FE3;
    font-family: "Proza Libre", Sans-serif;
    font-size: 74px;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 1px;
}

.mobileviewtext {
    display: none;
}

.banner-content .common-btn:hover {
    background: #333;
    transition: 0.3s all;
}

h2,
a,
p {
    color: #fff;
    font-family: Roboto;
    text-decoration: none;
}

p>a {
    color: #fd084a;
}

.blink {
    animation: blink 0.5s infinite;
}

@keyframes blink {
    to {
        opacity: .0;
    }
}

.flex {
    display: flex;
}

.header-sub-title {
    color: #fff;
    font-family: "Courier";
    font-size: 20px;
    padding: 0.1em;
}

@media (max-width: 1025px) {
    .banner-content {
        padding: 30px;
    }
    .banner-content h1 {
        font-size: 36px;
        letter-spacing: 1px;
    }
    .banner-content p {
        font-size: 16px;
        margin-top: 25px;
    }
}

@media (max-width: 991px) {
    header {
        min-height: 90vh;
    }
    .banner-content {
        padding: 30px;
        flex-flow: column;
    }
    .banner-content .imagediv {
        width: 100%;
    }
    .banner-content .firstHeading h5 {
        font-size: 33px;
        padding: 27px 10px;
        text-align: center;
    }
    .banner-content .secondHeading {
        margin: unset;
        text-align: center;
    }
}

@media (max-width: 767px) {
    header {
        min-height: 100vh;
    }
    .mobileviewtext {
        display: block;
    }
    .banner-content .firstHeading h5 {
        font-size: 24px;
        padding: 27px 10px;
        text-align: start;
    }
}

@media (max-width: 576px) {
    .banner-content {
        padding: 30px 15px;
        margin: 0;
    }
    .banner-content .imagediv {
        height: 133px;
        margin-top: 90px;
    }
    .banner-content .firstHeading h5 {
        font-size: 12px;
        padding: 8px 10px;
        text-align: start;
    }
    .banner-content .secondHeading h2 {
        font-size: 16px;
        margin-bottom: 0;
    }
    .banner-content p {
        font-size: 12px;
        margin-top: 25px;
        text-align: center;
    }
    .banner-content h1 {
        font-size: 24px;
        letter-spacing: normal;
    }
    .banner-content p {
        margin-top: 10px;
    }
    header {
        text-align: left;
        padding: 40px 10px;
        padding-top: 100px;
    }
}