<header>
    <div class="container customerContainer">
        <div class="banner-content d-flex">
            <div class="imagediv"></div>
            <div class="d-block" style="    z-index: 3;">
                <div class="d-block firstHeading ">
                    <h5 class="px-lg-5 py-lg-5">One of the Leading Companies in UK</h5>
                </div>
                <div class="d-block secondHeading">
                    <h2 class="mb-0">Prab Builders</h2>

                </div>
                <div class="mobileviewtext">
                    <p class="text-white">
                        We are committed to delight our customers by improving their quality of life. We will continuously improve our processes and adopt ethical practices by engaging our employees and stakeholders. We will endeavour to surpass statutory and regulatory standards
                        applicable to our industry.
                    </p>
                    <p class="text-white">
                        CEO: Jangsher Singh
                    </p>
                </div>
            </div>

        </div>
    </div>
</header>