<nav class="navbar navbar-expand-lg navbar-dark p-lg-0 navbar-transparent" id="navbar" color-on-scroll="50">
    <div class="container-nav container px-lg-5 mx-lg-5">
        <a class="navbar-brand" routerLink="">
            <img src="./assets/imgs/main_logo.png" class="logo-big">
        </a>
        <button id="mytoggle" class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars" aria-hidden="true"></i></span>
 
    </button>
        <div class="collapse navbar-collapse mynavbarmobile" id="probootstrap-navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" (click)="goBack()" data-toggle="collapse" data-target=".navbar-collapse.show">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#cardsection" data-toggle="collapse" data-target=".navbar-collapse.show">What We Offer</a></li>
                <li class="nav-item"><a class="nav-link" href="#aboutUS" data-toggle="collapse" data-target=".navbar-collapse.show">About US</a></li>
                <li class="nav-item"><a class="nav-link" href="#recentProject" data-toggle="collapse" data-target=".navbar-collapse.show">Recent Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="#testimonial" data-toggle="collapse" data-target=".navbar-collapse.show">Review</a></li>
                <li class="nav-item"><a class="nav-link" href="#contactus" data-toggle="collapse" data-target=".navbar-collapse.show">Contact Us</a></li>


            </ul>
        </div>
    </div>
</nav>