<app-toolbar></app-toolbar>
<app-navbar></app-navbar>
<section class="active" id="home" class="position-relative">
    <app-home></app-home>
</section>
<section id="whateverOffer" class="position-relative">
    <app-whatever-offer></app-whatever-offer>
</section>
<section id="servies">
    <app-services></app-services>
</section>
<section id="recentProject">
    <app-recent-project></app-recent-project>
</section>
<section id="testimonial">
    <app-testimonial></app-testimonial>
</section>
<section id="contactus">
    <app-contectus></app-contectus>
</section>
<app-footer></app-footer>